<app-dashboard-navbar [Title]="'Dashboard'"></app-dashboard-navbar>

<h2 class="main-title d-block d-lg-none">Dashboard</h2>

<div class="bg-white border-20">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="dash-card-one bg-white border-30 position-relative mb-15 skew-none">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center order-sm-1"><img src="assets/dashboard-images/icon/icon_12.svg" alt="" class="lazy-img"></div>
                    <div class="order-sm-0">
                        <span>All Properties</span>
                        <div class="value fw-500">1.7k+</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="dash-card-one bg-white border-30 position-relative mb-15">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center order-sm-1"><img src="assets/dashboard-images/icon/icon_13.svg" alt="" class="lazy-img"></div>
                    <div class="order-sm-0">
                        <span>Total Pending</span>
                        <div class="value fw-500">03</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="dash-card-one bg-white border-30 position-relative mb-15">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center order-sm-1"><img src="assets/dashboard-images/icon/icon_14.svg" alt="" class="lazy-img"></div>
                    <div class="order-sm-0">
                        <span>Total Views</span>
                        <div class="value fw-500">4.8k</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="dash-card-one bg-white border-30 position-relative mb-15">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="icon rounded-circle d-flex align-items-center justify-content-center order-sm-1"><img src="assets/dashboard-images/icon/icon_15.svg" alt="" class="lazy-img"></div>
                    <div class="order-sm-0">
                        <span>Total Favourites</span>
                        <div class="value fw-500">07</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row gx-xxl-5 d-flex pt-15 lg-pt-10">
    <div class="col-xl-7 col-lg-6 d-flex flex-column">
        <div class="user-activity-chart bg-white border-20 mt-30 h-100">
            <div class="d-flex align-items-center justify-content-between plr">
                <h5 class="dash-title-two">Property View</h5>
                <div class="short-filter d-flex align-items-center">
                    <div class="fs-16 me-2">Short by:</div>
                    <ng-select placeholder="Weekly" [items]="options" bindLabel="label" bindValue="value">
                        <ng-template ng-option-tmp let-item="item">
                            {{ item.label }}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="plr mt-50">
                <div class="chart-wrapper">
                    <div id="linechart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-6 d-flex">
        <div class="recent-job-tab bg-white border-20 mt-30 plr w-100">
            <h5 class="dash-title-two">Recent Message</h5>
            <div class="message-wrapper">
                <div class="message-sidebar border-0">
                    <div class="email-read-panel">
                        <div *ngFor="let email of emails" class="email-list-item" [ngClass]="{'primary': email.isPrimary}">
                            <div class="email-short-preview position-relative">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="sender-name">{{ email.sender }}</div>
                                    <div class="date">{{ email.date }}</div>
                                </div>
                                <div class="mail-sub">{{ email.subject }}</div>
                                <div class="mail-text">{{ email.preview }}</div>
                                <div *ngIf="email.attachments?.length" class="attached-file-preview d-flex align-items-center mt-15">
                                    <div class="file d-flex align-items-center me-2" *ngFor="let attachment of email.attachments">
                                        <img [src]="attachment.icon" alt="" class="lazy-img me-2">
                                        <span>{{ attachment.fileName }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>