<app-sidenav></app-sidenav>
<app-navbar-3></app-navbar-3>
<div class="hero-banner-three position-relative z-1 pt-130 lg-pt-100 pb-170 xl-pb-130 lg-pb-100">
    <div class="hero-slider-one m0">
        <div class="item m0">
            <div class="hero-img" style="background-image: url(assets/images/media/img_26.jpg);"></div>
        </div>
    </div>
    <div class="container position-relative z-2">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <h1 class="hero-heading text-center text-white font-garamond fw-500 fadeInUp" data-aos="fade-up"><span><img src="assets/images/shape/shape_34.svg" alt="" class="lazy-img"> Find the Right</span> <br> Home for Your Family</h1>
                <p class="fs-24 text-white text-center pt-35 md-pt-20 pb-55 lg-pb-40 fadeInUp" data-aos="fade-up" data-aos-delay="100">We’ve more than 745,000 apartments, place & plot.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-10 m-auto">
                <div class="search-wrapper-one layout-one position-relative fadeInUp" data-aos="fade-up" data-aos-delay="200">
                    <div class="bg-wrapper">
                        <form action="listing_07.html">
                            <div class="row gx-0 align-items-center">
                                <div class="col-xl-3 col-lg-4">
                                    <div class="input-box-one border-left">
                                        <div class="label">I’m looking to...</div>
                                        <ng-select [items]="options" bindLabel="label" bindValue="value" [placeholder]="'Buy Apartments'">
                                            <ng-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4">
                                    <div class="input-box-one border-left">
                                        <div class="label">Location</div>
                                        <ng-select [items]="options" bindLabel="label" bindValue="value" [placeholder]="'Dhanmondi, Dhaka'">
                                            <ng-option *ngFor="let option of location" [value]="option.value">{{ option.label }}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4">
                                    <div class="input-box-one border-left border-lg-0">
                                        <div class="label">Price Range</div>
                                        <ng-select [items]="options" bindLabel="label" bindValue="value" [placeholder]="'$10,000 - $200,000'">
                                            <ng-option *ngFor="let option of range" [value]="option.value">{{ option.label }}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-xl-3">
                                    <div class="input-box-one lg-mt-10">
                                        <button class="fw-500 w-100 tran3s search-btn-three">Search Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/shape/shape_35.svg" alt="" class="lazy-img shapes shape_01">
    <img src="assets/images/shape/shape_36.svg" alt="" class="lazy-img shapes shape_02">
</div>
<div class="category-section-one mt-65">
    <div class="container container-large">
        <div class="position-relative border-bottom pb-65 xl-pb-40 z-1">
            <h4 class="mb-50 xl-mb-30 text-center text-md-start">Popular Categories.</h4>
            <div class="wrapper">
                <ul class="d-flex flex-wrap justify-content-center justify-content-xxl-between style-none">
                    <li *ngFor="let category of categories">
                        <a [routerLink]="category.link" class="d-flex align-items-center fw-500 tran3s">
                            <img [src]="category.icon" alt="" class="lazy-img invert">
                            <span>{{ category.label }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="section-btn text-center sm-mt-40">
                <a routerLink="/listing_08" class="btn-eleven"><span>See all categories</span> <i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="block-feature-seven position-relative z-1 mt-120 xl-mt-100">
    <div class="container container-large">
        <div class="position-relative">
            <div class="text-center mb-30 fadeInUp" data-aos="fade-up">
                <div class="title-one mb-30 lg-mb-20">
                    <h2 class="font-garamond star-shape">How our clients get <em>benefited</em> by us <span class="star-shape"><img src="assets/images/shape/shape_37.svg" alt="" class="lazy-img"></span></h2>
                    <p class="fs-24 mt-xs">“Outstanding service, bought my dream home quickly!”</p>
                </div>
                <ul class="rating style-none d-flex justify-content-center">
                    <li><i class="fa-sharp fa-solid fa-star"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star"></i></li>
                    <li><i class="fa-sharp fa-solid fa-star"></i></li>
                    <li><span class="color-dark fw-500">4.7</span> (18k Reviews)</li>
                </ul>
            </div>
            <div class="row justify-content-center gx-xxl-5">
                <div class="col-lg-4 col-md-6 mt-30 d-flex fadeInUp" *ngFor="let card of cards" [attr.data-aos]="card.aosDelay ? 'fade-up' : 'fade-up'" [attr.data-aos-delay]="card.aosDelay">
                    <div class="card-style-five text-center d-inline-flex flex-column align-items-center tran3s h-100 w-100">
                        <img [src]="card.icon" alt="" class="lazy-img icon">
                        <h5 class="mt-35 mb-20">{{ card.title }}</h5>
                        <p class="fs-22 mb-50">{{ card.description }}</p>
                        <a [routerLink]="card.link" class="btn-twelve mt-auto">{{ card.buttonText }}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="property-listing-three position-relative z-1 mt-170 xl-mt-140 lg-mt-120">
    <div class="container container-large">
        <div class="position-relative">
            <div class="title-one mb-60 lg-mb-40 fadeInUp" data-aos="fade-up">
                <h2 class="font-garamond star-shape">Featured <em>Listing</em> <span class="star-shape"><img src="assets/images/shape/shape_37.svg" alt="" class="lazy-img"></span></h2>
                <p class="fs-22 m0">Explore featured properties for sale.</p>
            </div>
            <div class="row gx-xxl-5">
                <div class="col-lg-8 d-flex">
                    <div class="listing-card-three w-100 h-100 position-relative z-1 fadeInUp" data-aos="fade-up" style="background-image: url(assets/images/listing/img_12.jpg);">
                        <div class="w-100 h-100 d-flex flex-column">
                            <div class="tag fw-500 text-uppercase">FOR SELL</div>
                            <div class="mt-100 mt-sm-auto wrapper d-flex flex-wrap justify-content-between align-items-center">
                                <div class="property-name h-100">
                                    <h5 class="text-white mb-15">Super luxury duplex orkit villa.</h5>
                                    <p class="m0 text-white">Mirpur 10, Stadium dhaka 1210</p>
                                </div>
                                <div class="property-info h-100">
                                    <ul class="style-none feature d-flex flex-wrap align-items-center justify-content-between pb-5">
                                        <li class="d-flex align-items-center">
                                            <div class="fs-16"><span>2137</span> sqft</div>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div class="fs-16"><span>03</span> beds</div>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div class="fs-16"><span>01</span> kitchen</div>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div class="fs-16"><span>02</span> baths</div>
                                        </li>
                                    </ul>
                                    <div class="d-sm-flex justify-content-between align-items-center mt-10">
                                        <ul class="style-none d-flex action-icons">
                                            <li><a href="javascript:void(0);"><i class="fa-light fa-heart"></i></a></li>
                                            <li><a href="javascript:void(0);"><i class="fa-light fa-bookmark"></i></a></li>
                                            <li><a href="javascript:void(0);"><i class="fa-light fa-circle-plus"></i></a></li>
                                        </ul>
                                        <a routerLink="/listing_details_05" class="btn-ten xs-mt-20"><span>Full Details</span> <i class="bi bi-arrow-up-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex">
                    <div class="w-100 h-100">
                        <div class="row h-100">
                            <div class="col-lg-12 col-md-6">
                                <div class="listing-card-two w-100 position-relative z-1 md-mt-40 fadeInUp" data-aos="fade-up" style="background-image: url(assets/images/listing/img_10.jpg);">
                                    <div class="w-100 h-100 d-flex flex-column">
                                        <div class="tag fw-500 text-uppercase">FOR SELL</div>
                                        <div class="mt-auto d-lg-flex justify-content-between align-items-center">
                                            <div class="md-mb-20">
                                                <h5 class="text-white">Swimming Pool Villa</h5>
                                                <p class="m0 text-white">127 green road, California, USA</p>
                                            </div>
                                            <a routerLink="/listing_details_05" class="btn-four rounded-circle inverse stretched-link"><i class="bi bi-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="listing-card-two w-100 position-relative z-1 mt-40 fadeInUp" data-aos="fade-up" style="background-image: url(assets/images/listing/img_11.jpg);">
                                    <div class="w-100 h-100 d-flex flex-column">
                                        <div class="tag fw-500 text-uppercase">FOR RENT</div>
                                        <div class="mt-auto d-lg-flex justify-content-between align-items-center">
                                            <div class="md-mb-20">
                                                <h5 class="text-white">Modern Duplex</h5>
                                                <p class="m0 text-white">Twin tower, 32 street, Florida</p>
                                            </div>
                                            <a routerLink="/listing_details_05" class="btn-four rounded-circle inverse stretched-link"><i class="bi bi-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-btn text-center md-mt-60">
                <a routerLink="/listing_04" class="btn-five md"><span>Explore All</span> <i class="bi bi-arrow-up-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="property-listing-four bg-pink-three position-relative z-1 overflow-hidden pt-120 xl-pt-80 pb-110 xl-pb-60 mt-170 xl-mt-140 lg-mt-120">
    <div class="container container-large">
        <div class="position-relative z-1">
            <div class="title-one mb-60 lg-mb-40 fadeInUp" data-aos="fade-up">
                <h2 class="font-garamond">New <em>Listings</em> <span class="star-shape"><img src="assets/images/shape/shape_37.svg" alt="" class="lazy-img"></span></h2>
                <p class="fs-22 m0">Explore latest & featured properties for sale.</p>
            </div>
            <div class="swiper-container swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let property of properties">
                        <div class="listing-card-one style-three border-30 mb-50">
                            <div class="img-gallery p-15">
                                <div class="position-relative border-20 overflow-hidden">
                                    <div class="tag bg-white text-dark fw-500 border-20">{{property.position}}</div>
                                    <img [src]="property.image" class="w-100 border-20" alt="...">
                                    <a routerLink="/listing_details_04" class="btn-four inverse rounded-circle position-absolute"><i class="bi bi-arrow-up-right"></i></a>
                                    <div class="img-slider-btn" (click)="openLightbox()">
                                        03 <i class="fa-regular fa-image"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="property-info pe-4 ps-4">
                                <a [routerLink]="property.link" class="title tran3s">{{ property.title }}</a>
                                <div class="address">{{ property.address }}</div>
                                <ul class="style-none feature d-flex flex-wrap align-items-center justify-content-between">
                                    <li class="d-flex align-items-center">
                                        <span class="fs-16">
                                            <strong class="fw-500 color-dark">{{ property.sqft }}</strong> sqft
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <span class="fs-16">
                                            <strong class="fw-500 color-dark">{{ property.beds }}</strong> bed
                                        </span>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <span class="fs-16">
                                            <strong class="fw-500 color-dark">{{ property.baths }}</strong> bath
                                        </span>
                                    </li>
                                </ul>
                                <div class="pl-footer top-border d-flex align-items-center justify-content-between">
                                    <strong class="price fw-500 color-dark">{{ property.price | currency:'USD' }}</strong>
                                    <ul class="style-none d-flex action-icons">
                                        <li><a href="javascript:void(0);"><i class="fa-light fa-heart"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-light fa-bookmark"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa-light fa-circle-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-btn text-center">
                <a routerLink="/listing_04" class="btn-eleven fst-italic"><span>See all properties</span></a>
            </div>
            <ul class="slider-arrows slick-arrow-two d-flex justify-content-center style-none md-mt-30">
                <li class="prev_b slick-arrow"><i class="bi bi-arrow-left"></i></li>
                <li class="next_b slick-arrow"><i class="bi bi-arrow-right"></i></li>
            </ul>
        </div>
    </div>
    <img src="assets/images/shape/shape_38.svg" alt="" class="lazy-img shapes shape_01 fadeInDown" data-aos="fade-down">
    <img src="assets/images/shape/shape_39.svg" alt="" class="lazy-img shapes shape_02 fadeInUp" data-aos="fade-up">
</div>
<div class="block-feature-eight position-relative z-1 mt-170 xl-mt-140 lg-mt-120">
    <div class="container container-large">
        <div class="position-relative">
            <div class="row align-items-xl-end">
                <div class="col-xl-7 col-lg-6">
                    <div class="pe-xl-5 me-xxl-3 fadeInLeft" data-aos="fade-left">
                        <div class="title-one pe-xl-5">
                            <h2 class="font-garamond">Explore & Find your <em>Dream</em> home <span class="star-shape"><img src="assets/images/shape/shape_37.svg" alt="" class="lazy-img"></span></h2>
                        </div>
                        <div class="row gx-xl-4 align-items-end">
                            <div class="col-7">
                                <div class="media-block position-relative z-1">
                                    <img src="assets/images/media/img_29.jpg" alt="" class="lazy-img main-img w-100">
                                    <img src="assets/images/assets/screen_03.jpg" alt="" class="lazy-img shapes screen_01">
                                    <img src="assets/images/shape/shape_40.svg" alt="" class="lazy-img shapes shape_01">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="media-block position-relative z-1">
                                    <img src="assets/images/media/img_30.jpg" alt="" class="lazy-img main-img w-100">
                                    <img src="assets/images/assets/screen_04.png" alt="" class="lazy-img shapes screen_02">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="block-two ps-xxl-5 md-mt-100">
                        <div class="bg-wrapper fadeInRight" data-aos="fade-right">
                            <p class="fs-24 fst-italic pe-xl-5">“Your premier partner in real estate. Transforming properties into dreams. Let us guide you home with expertise.”</p>
                            <div class="counter-wrapper pb-40 mt-45 lg-mt-20 mb-60 lg-mb-20">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="counter-block-one mt-20">
                                            <div class="main-count fw-500 color-dark">$<span class="counter">7</span>bil+</div>
                                            <span>Project Handover</span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="counter-block-one mt-20">
                                            <div class="main-count fw-500 color-dark"><span class="counter">1.9</span>mil+</div>
                                            <span>Happy Customers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-style-one fs-22 color-dark style-none">
                                <li>Loan &amp; low Interest facility</li>
                                <li>100k+ Property Listing added & updated</li>
                                <li>Expert agent consultation</li>
                            </ul>
                            <div class="mt-70 lg-mt-50">
                                <a routerLink="/about_us_02" class="btn-five md"><span>Learn More</span> <i class="bi bi-arrow-up-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-lg-5 align-items-center mt-120 lg-mt-50">
                <div class="col-lg-3">
                    <div class="card-style-three border-20 mt-40 fadeInUp" data-aos="fade-up">
                        <div class="bg-wrapper text-center">
                            <h3>07+</h3>
                            <p>Years Experience <br>with proud.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 ps-xl-5">
                    <div class="row gx-xl-5">
                        <div class="col-md-4" *ngFor="let feature of features">
                            <div class="card-style-four mt-40 fadeInUp" data-aos="fade-up">
                                <div class="icon style-two rounded-circle d-flex align-items-center justify-content-center position-relative">
                                    <img [src]="feature.icon" alt="" class="lazy-img">
                                </div>
                                <h5 class="mt-35 mb-15">{{ feature.title }}</h5>
                                <p>{{ feature.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fancy-banner-six fadeInUp mt-160 xl-mt-140 lg-mt-100" data-aos="fade-up">
    <div class="container container-large">
        <div class="bg-wrapper position-relative z-1 pt-85 md-pt-50 pb-140 md-pb-100 ps-4 pe-4">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="title-one text-center pe-xxl-2 ps-xxl-2">
                        <h2 class="font-garamond text-white">Where you are, You will find us every <em>where <span>easily</span></em> <span class="star-shape"><img src="assets/images/shape/shape_37.svg" alt="" class="lazy-img"></span></h2>
                    </div>
                </div>
            </div>
            <div class="map-wrapper position-relative me-auto ms-auto mt-100 xl-mt-50 mb-50">
                <img src="assets/images/assets/map_01.svg" alt="" class="lazy-img w-100">
                <div *ngFor="let pin of mapPins" class="location-pin">
                    <div class="dot-marker rounded-circle"></div>
                    <div class="map-info tran3s d-flex">
                        <img [src]="pin.flag" alt="" class="lazy-img flag">
                        <div class="info">
                            <h6>{{ pin.country }}</h6>
                            <span>{{ pin.address }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="country-list d-flex flex-wrap">
                <div *ngFor="let list of countryLists" class="list-block">
                    <div class="title">{{ list.title }}</div>
                    <ul class="style-none d-flex flex-wrap">
                        <li *ngFor="let country of list.countries">{{ country }}</li>
                    </ul>
                </div>
            </div>
            <div class="text-slide-wrapper">
                <div class="marquee">
                    <p>{{ marqueeText }}</p>
                    <p>{{ marqueeText }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="feedback-section-four position-relative overflow-hidden z-1 pt-150 lg-pt-120 pb-110 lg-pb-80">
    <div class="container container-large">
        <div class="position-relative z-1">
            <div class="row">
                <div class="col-xl-6 col-lg-8">
                    <div class="title-one pe-xxl-5 mb-75 xl-mb-50 fadeInUp" data-aos="fade-up">
                        <h2 class="font-garamond">Don’t Trust Us, Trust <em>our clients</em> <span class="star-shape"><img src="assets/images/shape/shape_37.svg" alt="" class="lazy-img"></span></h2>
                        <p class="fs-20 m0">Client satisfaction speaks louder than our words. Hear from them.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-container swiper">
                <div class="swiper-wrapper">
                    <div *ngFor="let feedback of feedbacks" class="swiper-slide">
                        <div class="feedback-block-four">
                            <div class="d-flex align-items-center">
                                <img [src]="feedback.image" alt="" class="rounded-circle avatar">
                                <div class="ps-3">
                                    <h6 class="fs-20 m0">{{ feedback.name }}</h6>
                                    <span class="fs-16">{{ feedback.location }}</span>
                                </div>
                            </div>
                            <blockquote>{{ feedback.message }}</blockquote>
                            <ul class="rating style-none d-flex">
                                <li *ngFor="let star of feedback.stars"><i class="fa-sharp fa-solid fa-star"></i></li>
                            </ul>
                            <img [src]="feedback.icon" alt="" class="icon">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="slider-arrows slick-arrow-two d-flex justify-content-center style-none md-mt-30">
                <li class="prev_c slick-arrow"><i class="bi bi-arrow-left"></i></li>
                <li class="next_c slick-arrow"><i class="bi bi-arrow-right"></i></li>
            </ul>
            <div class="section-btn text-center md-mt-30">
                <a href="javascript:void(0);" class="btn-eleven fst-italic"><span>See all Feedback</span></a>
            </div>
        </div>
    </div>
    <img src="assets/images/shape/shape_42.svg" alt="" class="lazy-img shapes shape_01 fadeInDown" data-aos="fade-down" data-aos-delay="200">
    <img src="assets/images/shape/shape_43.svg" alt="" class="lazy-img shapes shape_02 fadeInUp" data-aos="fade-up">
</div>
<!-- <div class="partner-section-one mt-45">
    <div class="container">
        <h6 class="text-center fs-20 mb-50 lg-mb-30">100+ Company trusted by us.</h6>
    </div>
    <div class="swiper-container swiper" id="carousel1">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let image of logoImages">
                <img [src]="image" alt="">
            </div>
        </div>
    </div>
</div> -->
<div class="fancy-banner-seven mt-110 xl-mt-80 mb-130 xl-mb-100 lg-mb-80">
    <div class="container container-large">
        <div class="bg-wrapper position-relative z-1 pt-85 lg-pt-70 pb-100 xl-pb-80 lg-pb-70">
            <div class="row">
                <div class="col-xl-7 col-lg-8 col-md-10 m-auto text-center">
                    <h2 class="font-garamond text-white">Find the right home for your family</h2>
                    <p class="fs-24 text-white mt-30 mb-45 lg-mb-30">We’ve more than 745,000 apartments, place & plot.</p>
                    <a routerLink="/about_us_01" class="btn-two"><span>Get Started</span></a>
                </div>
            </div>
            <img src="assets/images/shape/shape_44.svg" alt="" class="lazy-img shapes shape_01 fadeInLeft" data-aos="fade-left" data-aos-delay="200">
            <img src="assets/images/shape/shape_45.svg" alt="" class="lazy-img shapes shape_02 fadeInRight" data-aos="fade-right">
        </div>
    </div>
</div>
<app-footer-2></app-footer-2>